
@import 'variables.scss';

.about {
  padding: 46px 15px;
  width: 100%;
  background-color: $color-light;

  @include for-large-up {
    display: flex;
    justify-content: space-between;
    padding: 77px 131px 76px 130px;
  }
}

.article {
  @include for-large-up {
    width: 555px;
  }

  &__title {
    font-weight: $bold-type;
    font-size: 22px;
    line-height: 32px;
    margin: 0;
  }

  &__text {
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 0;
    margin-top: 6px;
  }

  &:last-child {
    margin-top: 20px;

    @include for-large-up {
      margin-top: 0;
    }
  }
}
