
@import 'variables.scss';

.audience {
  padding: 50px 15px;
  background-color: $color-grey;

  @include for-large-up {
    padding: 108px 130px 110px 130px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__subtitle {
    margin-bottom: 17px;
    text-align: center;
    font-weight: $bold-type;
    font-size: 22px;
    line-height: 34px;
    color: $text-color-dark;

    @include for-large-up {
      width: 168px;
      margin-bottom: 24px;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 18px;
    text-align: center;
    font-weight: $bold-type;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.357143px;
    color: $text-color-dark;

    @include for-large-up {
      width: 555px;
      font-size: 56px;
      line-height: 56px;
      margin-bottom: 30px;
    }
  }

  &__description {
    margin: 0;
    margin-bottom: 30px;
    text-align: center;
    font-size: 24px;
    line-height: 34px;
    color: $text-color-dark;

    @include for-large-up {
      width: 555px;
      margin-bottom: 34px;
    }
  }

  &__buttons {
    @include for-large-up {
      display: flex;
    }
  }

  &__action-button {
    margin-bottom: 40px;
    color: $color-black;
    background-color: $color-white;
    width: 160px;
    height: 48px;
    font-size: 18px;
    font-weight: $bold-type;
    border: none;
    border-radius: 2px;

    @include for-large-down {
      width: 100%;
    }
  }

  &__button {
    @include for-large-down {
      width: 100%;
      margin-bottom: 12px;
    }

    @include for-large-up {
      margin-bottom: 111px;
      margin-right: 10px;
    }
  }
}

.user-illustration {
  @include for-large-up {
    display: flex;
  }
}

.user-card {
  margin-bottom: 15px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), $color-white;
  background-blend-mode: overlay, normal;
  border-radius: 8px;

  @include for-large-up {
    margin-bottom: 0;
    width: 262px;
    margin-right: 30px;
  }

  &:last-child {
    margin-bottom: 0;

    @include for-large-up {
      margin-right: 0;
    }
  }

  &:hover {
    background-color: $color-dark-blue;
    color: $color-white;
  }

  &__image {
    margin-top: 22px;
  }

  &__name {
    font-weight: $bold-type;
    font-size: 22px;
    line-height: 28px;
    margin-top: 22px;
  }
}