
@import 'variables.scss';

.action__button {
  background-color: $color-middle-blue;
  color: $color-white;
  width: 160px;
  height: 48px;
  font-size: 18px;
  font-weight: $bold-type;
  border: none;
  border-radius: 2px;
}

.hide_desctop {
  @include for-large-up {
    display: none;
  }
}

.hide_mobile {
  @include for-large-down {
    display: none;
  }
}