.features {
  display: flex;
  position: relative;
  /* height: 602px; */
  margin-bottom: 103px;

  @include for-large-down {
    display: none;

  }

  &__content {
    width: 1140px;
    margin: auto;
    display: flex;
  }

  &__column {
    width: 462px;
  }

  &__subtitle {
    font-weight: 700;
    font-size: 22px;
    line-height: 34px;
    color: #009B4D;
    margin: 0;
  }

  &__title {
    font-weight: bold;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    margin-top: 24px;
    margin-bottom: 0;
  }

  &__description {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 22px;
    line-height: 34px;
  }

  &__advantage-header {
    line-height: 42px;
    display: flex;
    margin-top: 42px;
  }

  &__advantage-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #3142C6;
    margin: 0;
    margin-left: 15px;
  }

  &__advantage-description {
    font-size: 18px;
    line-height: 26px;
    margin-top: 8px;
    margin-bottom: 0;
    padding-bottom: 20px;
    border-bottom: 3px solid #3142C6;
  }

  &__advantage-item {
    border-bottom: 1px solid #2B292D26;
    margin-top: 21px;
    padding-bottom: 22px;
    display: flex;
  }

  &__advantage-item-text {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    margin-left: 15px;
  }

  &__left-decoration {
    height: 166px;
    position: absolute;
    top: 258px;
  }

  &__banner {
    position: absolute;
    right: 0;
  }
}