.inbox {
  display: flex;
  flex-direction: column;
  padding: 50px 15px;
  background-color: rgba(252, 240, 227, 0.4);

  @include for-large-up {
    flex-direction: row;
    padding: 0;
  }

  &__banner {
    display: flex;

    @include for-large-up {
      display: flex;
      flex-direction: column;
      flex: 1;
    }
  }

  &__image {
    width: 290px;
    margin: 0 auto;

    @include for-large-up {
      width: 425px;
      margin-top: 142px;
      margin-left: 193px;
    }
  }

  &__image-text {
    @include for-large-down {
      display: none;
    }

    @include for-large-up {
      display: block;
      font-size: 14px;
      line-height: 22px;
      color: rgba(43, 41, 45, 0.6);
      margin-top: 15px;
      margin-left: 264px;
    }
  }

  &__content {
    @include for-large-down {
      margin-top: 32px;
    }

    @include for-large-up {
      flex: 1;
      display: flex;
      flex-direction: column;
    }
  }

  &__content-text {
    @include for-large-up {
      margin: 115px 129px 44px 110px;
    }
  }

  &__subtitle {
    font-weight: 700;
    font-size: 22px;
    line-height: 34px;
    color: #F1592B;

    @include for-large-up {
      margin: 0;
      margin-bottom: 24px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.357143px;
    color: #2B292D;
    margin: 0;
    margin-top: 17px;

    @include for-large-up {
      font-size: 56px;
      line-height: 56px;
      letter-spacing: -0.5px;
      color: #2B292D;
      margin: 0;
      margin-bottom: 30px;
    }
  }

  &__description {
    margin: 0;
    font-size: 24px;
    line-height: 34px;
    color: #2B292D;
    margin-top: 18px;
  }
}

.review {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  border-bottom: 4px solid #0185D0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #FFFFFF;
  background-blend-mode: overlay, normal;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  padding: 30px 20px;

  @include for-large-up {
    width: 519px;
    height: 213px;
    margin: 0 0 116px 82px;
    padding: 30px 30px 28px 30px;
  }

  &__text {
    font-size: 20px;
    line-height: 28px;
    color: #2B292D;
  }

  &__user {
    display: flex;
    align-items: flex-start;
  }

  &__user-avatar {
    margin-top: 28px;
  }

  &__user-information {
    display: flex;
    flex-direction: column;
    margin-top: 26px;
    margin-left: 11px;
  }

  &__user-name {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #2B292D;
  }

  &__user-work {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #2B292D;
  }
}