
.order {
  padding: 50px 15px;
  background-color: #F4F5F7;

  display: flex;
  flex-direction: column;
  align-items: center;

  @include for-large-up {
    padding: 73px 0 72px 0;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  &__details {
    max-width: 555px;
  }

  &__illustration {
    max-width: 200px;

    @include for-large-up {
      max-width: 269px;
      margin-right: 121px;
    }
  }

  &__title {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.357143px;
    margin-top: 40px;

    @include for-large-up {
      text-align: left;
      margin: 0;
      margin-top: 33px;
    }
  }

  &__text {
    font-size: 24px;
    line-height: 34px;
    margin: 0;
    margin-top: 12px;
  }

  &__form {
    @include for-large-up {
      display: flex;
      margin-top: 26px;
    }
  }

  &__email {
    margin-top: 40px;
    background-color: #FFFFFF;
    border: 1px solid rgba(43, 41, 45, 0.2);
    border-radius: 2px;
    height: 48px;
    width: 100%;
    text-align: center;
    font-size: 18px;
    line-height: 13px;

    @include for-large-up {
      margin-top: 0;
    }

    &::placeholder {
      color: #2B292D;
    }
  }

  &__button {
    margin-top: 12px;

    @include for-large-down {
      width: 100%;
    }

    @include for-large-up {
      margin-top: 0;
      margin-left: 10px;
      flex-shrink: 0;
    }
  }

  &__terms {
    font-size: 14px;
    line-height: 22px;
    color: rgba(43, 41, 45, 0.6);
  }

  &__terms-link {
    color: #3142C6;
  }
}