
@import 'variables.scss';

.tips {
  margin-top: 8px;

  @include for-large-up {
    display: none;
  }
}

.tip {
  padding: 40px 15px 0 15px;
  border-bottom: 1px solid $color-light;

  &__subtitle {
    font-weight: $bold-type;
    font-size: 22px;
    line-height: 34px;
    color: $text-color-green;
  }

  &__title {
    margin: 0;
    margin-top: 17px;
    font-weight: $bold-type;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.357143px;
  }

  &__description {
    font-size: 24px;
    line-height: 34px;
    margin: 0;
    margin-top: 13px;
  }

  &__decoration {
    margin: 0;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__image {
    margin-top: 29px;
    max-width: 100%;
  }

  &__image-caption {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: $text-color-dark-grey;
    margin-top: 20px;
    max-width: 100%;
  }
}

