
$color-light: #F4F5F7;
$color-black: #000000;
$color-white: #fff;
$color-dark-blue: #3141C5;
$color-middle-blue: #3040C4;
$color-coral: #F3C6BD;
$color-grey: rgba(0, 161, 198, 0.07);

$text-color-dark: #2B292D;
$text-color-green: #009B4D;
$text-color-blue: #3142C6;
$text-color-dark-grey:  rgba(43, 41, 45, 0.6);

$color-light: #E3E3E3;
$border-color-blue: #3142C6;
$border-color-light-grey: #2B292D26;
$border-color-dark: #2B292D;
$border-color-grey: #00000026;
$border-color-middle-grey: rgba(43, 41, 45, 0.2);

$bold-type: 700;
